<html>
<head>
  <link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    Hello World!!
    <form method="POST" action="person">
        Firstname: <input id="firstname" name="firstname" type="text"/><br/>
        LastName: <input id="lastname" name="lastname" type="text"/><br/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>