.logo {
  width: 40%;
  height: 50%;
}

ion-toolbar {
  text-align: center;
}

h1,
h2 {
  color: #fff;
}

ion-icon {
  font-size: 3.125em;
  color: #fff;
}

ion-label {
  font-size: 1.375em;
  color: #fff;
}

ion-badge {
  font-size: 1.125em;
}

.myRewards {
  text-align: center;
}
