<input type="text" [(ngModel)]="title" />
<h2>{{ title }}</h2>

<!--
<app-heros></app-heros>

<app-messages></app-messages>

<attribute-propery-binding></attribute-propery-binding>
 -->

<inter-component></inter-component>
<event-binding></event-binding>
<oneway-binding-component></oneway-binding-component>
<twoway-binding-component></twoway-binding-component>

<span [ngSwitch]="Course">
    <span *ngSwitchCase="Angular">Angular</span>
    <span *ngSwitchCase="React">React</span>
    <span *ngSwitchCase="Vue">Vue</span>
    <span *ngSwitchDefault>JavaScript</span>
  </span>

  